.vector-icon {
    position: absolute;
    top: 605px;
    left: -1px;
    width: 1920px;
    height: 297px;
    display: none;
}
.servios-child {
    position: absolute;
    top: -11px;
    left: 1px;
    background-color: #0ca59b;
    width: 1920px;
    height: 119px;
}
.jardim-dos-bichos {
    position: absolute;
    top: 61.58%;
    left: 0%;
    font-weight: 300;
}
.sem-ttulo-2-traced {
    position: absolute;
    height: 54.43%;
    width: 37.95%;
    top: 0%;
    right: 30.89%;
    bottom: 45.57%;
    left: 31.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.clnica-veterinria {
    position: absolute;
    top: 107.0%;
    left: 23.96%;
    font-size: 7.95px;
    font-weight: 500;
    font-family: Montserrat;
}
.logo-branca {
    position: absolute;
    top: 4px;
    left: 431px;
    width: 145.2px;
    height: 88px;
    cursor: pointer;
    font-family: Fredoka;
}
.incio {
    width: 61px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}
.incio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    cursor: pointer;
}
.servios1 {
    width: 90px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}
.produtos {
    width: 103px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}
.produtos-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
}
.adoo {
    position: relative;
    font-weight: 600;
}
.contato {
    width: 87px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}
.vector-icon1 {
    width: 21.3px;
    position: relative;
    height: 21.3px;
}
.icbaseline-account-circle {
    width: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icbaseline-account-circle-parent {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    border: 1px solid #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 18px;
    gap: 8px;
    cursor: pointer;
    text-align: left;
}
.mdicart-outline-icon {
    width: 29px;
    position: relative;
    height: 29px;
}
.frame-parent {
    position: absolute;
    top: 41px;
    left: 680px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    font-size: 20px;
}
.nossos-servios-child {
    position: absolute;
    top: -156px;
    left: -500px;
    width: 1920px;
    height: 1149px;
    display: none;
}
.nossos-servios1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    font-family: Fredoka;
    display: inline-block;
    width: 920px;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 84px;
    left: calc(50% - 370px);
    font-size: 18px;
    line-height: 28px;
    color: #000;
    display: inline-block;
    width: 740px;
}
.close-up-on-veterinarian-takin {
    position: absolute;
    top: 20.84px;
    left: calc(50% - 125.54px);
    width: 251.1px;
    height: 166.9px;
    object-fit: cover;
}
.petshop {
    position: absolute;
    top: 199.92px;
    left: 99.49px;
}
.lorem-ipsum-dolor1 {
    position: absolute;
    top: 232.13px;
    left: calc(50% - 98.06px);
    font-size: 13.26px;
    line-height: 22.74px;
    color: #000;
    text-align: justify;
    display: inline-block;
    width: 197.1px;
}
.close-up-on-veterinarian-takin-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 22.74px;
    background-color: #47e0d6;
    width: 281.4px;
    height: 322.1px;
    overflow: hidden;
}
.animais-para-adoo {
    position: absolute;
    top: 199.92px;
    left: 36.95px;
}
.unsplashzwoqd6ffcbs-icon {
    position: absolute;
    top: 20.84px;
    left: 15.16px;
    width: 251.1px;
    height: 166.8px;
    object-fit: cover;
}
.close-up-on-veterinarian-takin-group {
    position: absolute;
    top: 0px;
    left: 319.3px;
    border-radius: 22.74px;
    background-color: #f2c930;
    width: 281.4px;
    height: 322.1px;
    overflow: hidden;
}
.cirurgias {
    position: absolute;
    top: 199.92px;
    left: 95.7px;
}
.close-up-on-veterinarian-takin3 {
    position: absolute;
    top: 20.84px;
    left: 15.16px;
    width: 251.1px;
    height: 166.9px;
    object-fit: cover;
}
.close-up-on-veterinarian-takin-container {
    position: absolute;
    top: 0px;
    left: 638.6px;
    border-radius: 22.74px;
    background-color: #47e0d6;
    width: 281.4px;
    height: 322.1px;
    overflow: hidden;
}
.servios-baixo {
    position: absolute;
    top: 342.25px;
    left: 0px;
    width: 920px;
    height: 322.1px;
}
.consultas-veterinrias {
    position: absolute;
    top: 199.92px;
    left: 29.37px;
}
.frame-div {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 22.74px;
    background-color: #f2c930;
    width: 281.4px;
    height: 322.1px;
    overflow: hidden;
}
.exames-laboratoriais {
    position: absolute;
    top: 199.92px;
    left: 37.9px;
}
.close-up-on-veterinarian-takin-parent1 {
    position: absolute;
    top: 0px;
    left: 319.3px;
    border-radius: 22.74px;
    background-color: #47e0d6;
    width: 281.4px;
    height: 322.1px;
    overflow: hidden;
}
.raio-x-e {
    position: absolute;
    top: 199.92px;
    left: 47.37px;
}
.lorem-ipsum-dolor6 {
    position: absolute;
    top: 232.13px;
    left: calc(50% - 99.01px);
    font-size: 13.26px;
    line-height: 22.74px;
    color: #000;
    text-align: justify;
    display: inline-block;
    width: 197.1px;
}
.close-up-on-veterinarian-takin-parent2 {
    position: absolute;
    top: 0px;
    left: 638.6px;
    border-radius: 22.74px;
    background-color: #f2c930;
    width: 281.4px;
    height: 322.1px;
    overflow: hidden;
}
.servios-cima {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 920px;
    height: 322.1px;
}
.servios-card {
    position: absolute;
    top: 214px;
    left: 0px;
    filter: drop-shadow(3px 4px 6px rgba(0, 0, 0, 0.3));
    width: 920px;
    height: 664.4px;
    font-size: 18.95px;
    color: #fff;
}
.nossos-servios {
    position: absolute;
    top: 221px;
    left: 500px;
    width: 920px;
    height: 878.4px;
    font-size: 40px;
    color: #0ca59b;
}
.final-child {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 959.79px);
    background-color: #0ca59b;
    width: 1920px;
    height: 240px;
}
.sem-ttulo-2-traced1 {
    position: absolute;
    height: 54.43%;
    width: 37.93%;
    top: 0%;
    right: 30.91%;
    bottom: 45.57%;
    left: 31.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.clnica-veterinria1 {
    position: absolute;
    top: 88.7%;
    left: 24.66%;
    font-size: 12.44px;
    font-weight: 500;
    font-family: Montserrat;
}
.logo-branca1 {
    position: absolute;
    bottom: 69.4px;
    left: calc(50% - 588.79px);
    width: 227px;
    height: 137.6px;
    font-size: 27.99px;
    font-family: Fredoka;
}
.final-item {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 960.5px);
    background-color: #d9d9d9;
    width: 1921px;
    height: 37px;
}
.todos-os-direitos {
    position: absolute;
    bottom: 7.21px;
    left: calc(50% - 314.71px);
    font-size: 16px;
    color: #000;
}
.endereo1 {
    position: absolute;
    bottom: 43px;
    left: calc(50% - 135.5px);
    font-weight: 600;
}
.av-wilson-alvarenga {
    margin: 0;
}
.av-wilson-alvarenga-container {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 135.5px);
    font-size: 16px;
    text-align: left;
}
.endereo {
    position: absolute;
    bottom: 106px;
    left: calc(50% - 311.79px);
    width: 271px;
    height: 65px;
}
.horrio-de-atendimento {
    position: absolute;
    bottom: 43px;
    left: calc(50% - 111.5px);
    font-weight: 600;
}
.seg-sex-8h-container {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 111.5px);
    font-size: 16px;
    text-align: left;
}
.horrio {
    position: absolute;
    bottom: 106px;
    left: calc(50% + 9.21px);
    width: 223px;
    height: 65px;
}
.contato1 {
    position: absolute;
    bottom: 73px;
    left: calc(50% - 153.5px);
    font-weight: 600;
}
.mdiphone-icon {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 18px;
    height: 18px;
    overflow: hidden;
}
.div {
    position: absolute;
    top: 0px;
    left: 24px;
    display: inline-block;
    width: 120.5px;
}
.mdiphone-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 144.5px;
    height: 20px;
}
.div1 {
    position: absolute;
    top: 0px;
    left: 24px;
    display: inline-block;
    width: 143.3px;
}
.parent {
    position: absolute;
    top: 23px;
    left: 0px;
    width: 167.3px;
    height: 20px;
}
.atendimentojardimdosbichosco {
    position: absolute;
    top: 46px;
    left: 0px;
    display: inline-block;
    width: 307px;
}
.group-parent {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 307px;
    height: 66px;
    font-size: 16px;
}
.telefones {
    position: absolute;
    bottom: 91px;
    left: calc(50% + 282.21px);
    width: 307px;
    height: 95px;
    text-align: left;
}
.final {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 961px);
    width: 1921px;
    height: 240px;
    font-size: 18px;
}
.servios {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1484px;
    overflow: hidden;
    text-align: center;
    font-size: 17.9px;
    color: #fff;
    font-family: Montserrat;
}